*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.cabeca{
    width: 100%;
    background: linear-gradient(135deg, #5A00FF, #00C2FF);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
}

input::placeholder{
    color: white;
    font-size: 12px;
    opacity: 0.7;
}

.nav-menu{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    gap: 200px;
}

.cabeca a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.buscar{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 750px;
    padding: 15px 15px;
    border-radius: 4px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.buscar ion-icon{
    font-size: 20px;
}

.buscar input{
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 100%;
}

.noticia{
    background-color: #f1f2f6;
    padding: 20px 25px;
    border-radius: 12px;
    max-width: 700px;
    margin: 30px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.noticia h2{
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #2c3e50;
}

.noticia img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.noticia p{
    color: #131212;
    font-size: 1rem;
    line-height: 1.6;
}

.noticia strong{
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #333;
}

.noticia h1{
    margin-bottom: 20px;
}