*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.cabeca{
    width: 100%;
    background: linear-gradient(135deg, #5A00FF, #00C2FF);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
}

input::placeholder{
    color: white;
    font-size: 12px;
    opacity: 0.7;
}

.nav-menu{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    gap: 275px;
}

.cabeca a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.buscar{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 41%;
    padding: 15px 15px;
    border-radius: 4px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.buscar ion-icon{
    font-size: 20px;
}

.buscar input{
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 100%;
}

.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.lista-artigos{
    display: grid;
    gap: 20px;
}

.card-artigo{
    background: #f2f3f7;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.card-artigo ion-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}